<div class="header d-flex justify-content-between p-3">
  <h2>Favorite books</h1>
  <%= link_to 'Ajouter livre', new_book_path, class: 'btn btn-primary' %>
</div>

<div class="container">
    <% @books.each do |book| %>
    <%= link_to book, class: 'text-decoration-none' do  %>
      <div class="card-product">
        <%= image_tag(book.image) %>
          <div class="card-product-infos">
            <h2><%= book.title %></h2>
            <p><%= book.author %></p>
          </div>
      <% end %>
    </div>
    <% end %>
</div>

